<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Tribute Page</title>
</head>

<body>
    <div class="">

        <div class="jumbotron">
            <div class="container pt-lg-5 pt-5 mt-5">
                <div class="pt-lg-5 mt-5">
                    <h1 class="display-4 pt-5">Steve Jobs</h1>
                    <p class="pl-lg-5 pl-5">1955-2011</p>
                </div>
            </div>
        </div>
        <div class="container a img-fluid">
            <div class="p-lg-5 p-5 m-lg-5">
                <div>
                <h2>Steve Jobs was one of the most influential entrepreneurs in the field of IT.</h2>
            </div>
            <div>
                <p>He was the founder and CEO of Apple Inc. - one of the biggest IT companies in the world. His ideas and passion for innovative inventions is celebrated by the mordern IT community. His vision and drive have forever changed computing by bringing us the Mac, the iPhone and the iPad. He achieved a lot at a very young age and inspired an entire generation of young entrepreneurs. He is respected worldwide as a role model and icon for success. His life is an ispiration for anyone who has a passion for IT innovation or entrepreneurship.</p>

            </div>

            <div class="pt-lg-3 pt-3">
                <h2>His legacy</h2>
            </div>
            <div>
                <p>Today Apple computers, peripherals, mobile phones and other IT products are sold, used and loved by users globally. There have been numerous books written and motion picures produced about the life of Steve Jobs. His quotes are highly motivating and have been used on and off for various purposes by different individuals and business entities worldwide. The enormous contribution made by him to the IT community and the world shall always be remembered.</p>

            </div>
            </div>
        </div>
        <div class="quote p-lg-5 p-5 p-sm-5">
            <p>
                "Stay hungry,stay foolish"
            </p>
            <p><small>-steve jobs</small></p>
        </div>
        <div class="container a mt-lg-5"><h2>Time Line</h2>
            <table class="table table-borderless p-lg-5 p-5 m-lg-5">
                <tbody>
                    <tr>
                        <th scope="row">Feb 1955</th>
                        <td>Steve was born in San Francisco, the son of Abdulfattah Jandali and Joanne Schieble. He is quickly adopted by Paul and Clara Jobs</th>
                        
                      </tr>
                  <tr>
                    <th scope="row">1960</th>
                    <td>The Jobs family moves from San Francisco to Mountain View, a suburban town in Santa Clara county, more commonly known as Silicon Valley</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1969</th>
                    <td>Steve Jobs meets Steve Wozniak, 5 years older, through a mutual friend. Woz and Steve share a love of electronics, Bob Dylan, and pranks</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1972</th>
                    <td colspan="2">Steve and Woz build and illegally sell 'blue boxes' that allow to make phone calls for free</td>
                    
                  </tr>
                </tbody>
              </table>

        </div>

        

<div class="container a p-5 p-lg-5">
    <h2>Background</h2>
<p class=>
    Steven Paul Jobs was born in San Francisco, California, on February 24, 1955, the son of Joanne Carole Schieble and Abdulfattah Jandali (Arabic: عبد الفتاح الجندلي). He was adopted by Clara (née Hagopian) and Paul Reinhold Jobs.

Jandali, Jobs' biological father, was Syrian and went by the name "John". He grew up in an Arab Muslim household in Homs. While an undergraduate at the American University of Beirut in Lebanon, he was a student activist and spent time in prison for his political activities. He pursued a PhD at the University of Wisconsin, where he met Schieble, an American Catholic of German and Swiss descent. As a doctoral candidate, Jandali was a teaching assistant for a course Schieble was taking, although both were the same age. Novelist Mona Simpson, Jobs' biological sister, noted that Schieble's parents were not happy that their daughter was dating a Muslim.Walter Isaacson, author of the biography Steve Jobs, additionally states that Schieble's father "threatened to cut her off completely" if she continued the relationship.

Jobs's adoptive father was a Coast Guard mechanic.[7] After leaving the Coast Guard, he married Hagopian, an American of Armenian descent, in 1946.Their attempts to start a family were halted after Hagopian had an ectopic pregnancy, leading them to consider adoption in 1955. Hagopian's parents were survivors of the Armenian Genocide.
</p>
</div>
      <div class="p-lg-5 p-5"><center>
          <a href="../templates/page1.html" class="btn btn-outline-primary">Show more</a>
        </center>

</div>  
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>